@import url("colors.css");

.sidebar {
  width: 300px;
  min-width: 200px;
  background: var(--dark-gradient);
  text-align: left;
}


.sidebarLinkDiv {
  padding: 5px;
  font-size: 15px;
  color: var(--accent-color);
  display: flex;
  flex-direction: row;
}

.sidebarLink {
  text-decoration: none;
}

.accountNameDiv {
  width: fit-content;
}

.accountBalanceDiv {
  flex-grow: 1;
  text-align: right;
  padding-right: 25px;
}
