@import url("colors.css");

.budgetWorkspace {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.budgetContent {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    color: var(--dark-color);
    font-weight: bold;
    flex-grow: 1;
}

.budgetHeader {
    height: 120px;
    border-radius: 15px;
    margin: 5px;
    background-color: var(--translucent-background);
}

.newCategoryGroup {
    margin: 10px;
    cursor: pointer;
    align-items: center;
}

.monthSelector {
    vertical-align: middle;
    float: right;
    margin: 1%;
    display: flex;
    flex-direction: row;
    width: 20%;
    min-width: 160px;
}

.arrowDiv {
    margin: auto;
    width: 25%;
    cursor: pointer;
}

.currentMonth {
    width: 50%;
    margin: auto;
    text-align: center;
}

.budgetColumnTitles {
    height: 15px;
}

.budgetCategories {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    float: inline-end;
    overflow-y: scroll;
}

.categeorySelectedColumn {
    min-width: 10px;
    width: 7%;
}

.categeoryNameColumn {
    min-width: 30px;
    width: 20%;
}

.categeoryAssignedColumn {
    min-width: 25px;
    width: 15%;
}

.categeorySpentColumn {
    min-width: 25px;
    width: 15%;
}

.categeoryAvailableColumn {
    min-width: 25px;
    width: 15%;
}

.budgetStatsDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.budgetStatBox {
    float: left;
    margin: 5px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    background-color: var(--light-grey);
}

.negativeToBeAssigned {
    background-color: lightcoral;
}

.neutralToBeAssigned {
    background-color: lightgreen;
}

.positiveToBeAssigned {
    background-color: skyblue;
}
