@import url("colors.css");

.budgetInfo {
    width: 350px;
    height: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: var(--light-grey);
}

.categoryStats {
    padding: 15%;
    font-weight: bold;
    font-size: 25px !important;
    color: var(--dark-color);
    text-align: center;
}

.autoAssign {
    padding: 12px;
}

.categoryTarget {
    padding: 12px;
    border-color: var(--light-grey);
    border-radius: 8px;
    border-width: thin;
    border-style: solid;
}

.underfundedButton {
    width: 50%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light-grey);
    text-align: center;
    user-select: none;
}
