@import url("colors.css");

.budgetInfo {
    width: 350px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--light-accent);
}

.categoryStats {
    padding: 15%;
    font-weight: bold;
    font-size: 25px !important;
    color: var(--dark-color);
    text-align: center;
}

.autoAssign {
    padding: 12px;
}

.categoryTarget {
    padding: 12px;
    border-color: var(--dark-accent);
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
    padding: 5%;
}

.categoryTargetTitle {
    padding: 5%;
    font-weight: bold;
    font-size: 20px !important;
    color: var(--dark-text);
    text-align: center;
}

.categoryTargetDate {
    margin: 5px;
}

.categoryTargetType {
    margin: 5px;
}

.categoryTargetAmount {
    margin: 5px;
}