@import url("colors.css");

.budgetWorkspace {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.budgetContent {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    color: var(--dark-color);
    font-weight: bold;
    flex-grow: 1;

}
.budgetHeader {
    height: 100px;
    border-radius: 15px;
}
.newCategoryGroup{
    float: left;
    padding: 1%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.monthSelector {
    vertical-align: middle;
    float: right;
    margin: 1%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: var(--translucent-background);
    width: 20%;
    min-width: 100px;
}

.arrowDiv {
    margin: auto;
    width: 25%;
    cursor: pointer;
}
.currentMonth {
    width: 50%;
    margin: auto;
}

.budgetColumnTitles {
    margin-left: 18px;
    height: 15px;
}
.budgetCategories {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    float: inline-end;
    overflow-y: scroll;
}
