.categoryGroupTitle {
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newCategoryButton {
    float: right;
    margin-right: 3%;
}

.categoryGroupTitleInput {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    color: #00334d;
}
