@import url("colors.css");

.baseCategory {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--light-text);
}

.categoryCell {
    padding-top: 3px;
    padding-bottom: 3px;
    float: left;
}
.largeScreenCategoryNameBox {
    width: 35%;
}
.smallScreenCategoryNameBox {
    font-size: 2.2vmin;
    width: 50%;
}

.smallScreenCategoryValueBox {
    width: 25%;
    font-size: 12px;
}

.largeScreenCategoryValueBox {
    width: 20%;
    font-size: 12px;
}

.categoryValueOutline {
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    background-color: var(--translucent-background)
}

.largeScreenCategoryValueOutline {
    width: 65%;
}

.smallScreenCategoryValueOutline {
    width: 85%;
}

.categoryInput {
    width: 60%;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    padding-left: 10px;
    color: var(--light-text);
}

.categoryOptions {
    color: var(--translucent-background);
}

.categoryDividingLine {
    color: var(--translucent-background);
    margin-left: 1%;
    margin-right: 1%;
}

input:focus {
    background-color: var(--translucent-background);
}

input {
    font-size: 12px;
}

.selectedIcon {
    margin-left: 5px;
    color: var(--dark-color);
}

input:focus {
    background-color: hsla(0, 9%, 7%, 0.3);
}
