@import url("colors.css");

.categoryRow {
    padding-top: 2px;
    padding-bottom: 2px;
}

.selectedIcon {
    color: var(--dark-color);
}

.selectedColumn {
    min-width: 10px;
    width: 2%;
}


.spentColumn {
    min-width: 25px;
    width: 15%;
}

.assignedColumn {
    min-width: 25px;
    width: 15%;
}

.balanceColumn {
    min-width: 25px;
    width: 15%;
}