@import url("colors.css");

.budgetCategoryGroup {
    margin: 3%;
}

.budgetCategoryGroupSelectedIcon {
    vertical-align: middle;
}

.budgetNewCategoryGroupButton {
    float: right;
    vertical-align: middle;
}

.budgetCategoryGroupTitleInput {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 14px !important;
    color: var(--dark-text);
    padding-left: 2%;
}