@import url("colors.css");

.categoryRow {
    padding-top: 2px;
    padding-bottom: 2px;
}

.categoryName {
    min-width: 100px;
    background-color: var(--light-grey);
    border-color: transparent;
    outline: none;
    color: var(--dark-color);
    border-radius: 5px;
    padding-left: 10px;
}

.selectedIcon {
    color: var(--dark-color);
}

.selectedColumn {
    min-width: 10px;
    width: 2%;
}

.nameColumn {
    min-width: 30px;
    width: 20%;
}

.spentColumn {
    min-width: 25px;
    width: 15%;
}

.assignedColumn {
    min-width: 25px;
    width: 15%;
}

.balanceColumn {
    min-width: 25px;
    width: 15%;
}
