:root {
    --dark-text: black;
    --light-text: white;
    --dark-accent: slategrey;
    --light-accent: lightgrey;
    --main-background: white;
    --neutral-highlight: lightblue;
    --positive-highlight: lightgreen;
    --negative-highlight: salmon;
}