
.layout {
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(0deg, #005580, #002233);
}

.mainContent{
    position: relative;
    height: 100%;
    overflow-y: scroll;
}
.smallScreenContent {
    padding-left: 0px;
}
.largeScreenContent {
    padding-left: 230px;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 80px;
    height: 100%;
    z-index: +1;
    width: 230px;
    background-color: #002233;
    text-align: left;
}

.flex-container {
    height: 100%;
}
