.currencyInput {
    width: 80%;
    background-color: var(--light-grey);
    border-color: transparent;
    outline: none;
    color: var(--dark-color);
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
}
