@import url("colors.css");

.transactionRow {
    color: var(--dark-color);
    padding-top: 10px;
}
.selected {
    border-color: var(--dark-color);
    border: solid thin;
}
.saveTransactionEdits {
    min-width: 25px;
    width: 25px;
}
.transactionDate {
    background-color: transparent;
    border: none;
    min-width: 70px;
    width: 10%;
    text-align: center;
}
.transactionMemo {
    color: var(--dark-color);
    background-color: transparent;
    border-color: transparent;
    outline: none;
    text-align: left;
}

.transactionAccount {
    color: var(--dark-color);
    background-color: transparent;
    border-color: transparent;
    outline: none;
    text-align: left;
    padding-left: 10px;
}

.transactionPayee {
    color: var(--dark-color);
    background-color: transparent;
    border-color: transparent;
    outline: none;
    text-align: left;

}



.transactionCategory {
    display: flex;
    flex-direction: row;
    min-width: 100px;
}

.transactionCategoryName {
    width: 70%;
    text-align: left;
}
.transactionAmount{
    width: 30%;
    text-align: right;
}
