@import url("colors.css");

.transactionRow {
    color: var(--dark-color);
}

.transactionDateSelector {
    background-color: transparent;
    border: none;
    min-width: 70px;
    width: 3%;
    text-align: center;
}

.textInput {
    text-align: left;
    background: transparent;
}

.saveTransactionEdits {
    width: 25px;
}

.amountInput {
    width: 80px;
}

.selected {
    border-color: var(--dark-color);
    border: solid thin;
}
